* {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
}

img {
  height: 200px;
  display: block;
  margin: 10px auto;
  border: 1px solid black;
}

.recipe-card {
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid black;
  background-color: white;
}

h3 {
  margin-bottom: -10px;
}

ol li {
  margin-bottom: 10px;
}


