* {
  line-height: 1.5;
  
}

body {
  font-family: Tahoma, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
}

.recipe-list {
  background-color: white;
  width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  
}

li {
  font-size: 20px;
  margin-bottom: 5px;
}